-
	const auditories = [
		{name: 'Для энтерального питания людей в <br> послеоперационный период ', text: 'Энтеральное питание является важным компонентом восстановительного периода после операции. В такой период организм нуждается в правильном балансе питательных веществ, чтобы справиться с трудностями восстановления'},
		{name: 'В состояниях, связанных <br> с потерей аппетита',                 text: 'В таких состояниях важно предоставить организму необходимое количество питательных веществ, чтобы сохранить его работоспособность и укрепить иммунитет. Для этого можно использовать специальные диетические продукты'},
		{name: 'В состояниях, связанных с челюстно- лицевыми, <br> черепно- мозговыми, ожоговыми травмами', text: 'Такие травмы могут значительно повлиять на пищеварительную систему человека и его способность усваивать питательные вещества. Важно дать организму нужное количество белков и витаминов  для восстановления поврежденных тканей'},
		{name: 'При нарушениях функций глотания <br> и жевания',                  text: 'При нарушениях функций глотания и жевания, вызванных различными заболеваниями или травмами, пациенты могут испытывать трудности с приемом пищи и получением достаточного количества питательных веществ'}
	]

section.auditories 
	.container 
		h3.auditories__title.section-title #[b Для кого] подходит смесь?
		.auditories__box
			each item, i in auditories
				article.auditor
					.auditor__num= `0${i+1}`
					b.auditor__name !{item.name}
					p.auditor__text !{item.text}
