.contacts 
	#map.contacts__map
	.container
		.contacts__info 
			h6.section-title.contacts__title Как с нами #[b связаться]
			.contacts__item 
				img.contacts__icon(src="img/icon-marker.png", alt="")
				span.contacts__val.contacts__val--adress 115114, Москва, Павелецкая #[br] набережная, д. 2, стр. 2
			.contacts__item 
				img.contacts__icon(src="img/icon-phone.png", alt="")
				a.contacts__val.contacts__val--phone(href="+74951503073") +7 (495) 150-30-73 
			.contacts__item 
				img.contacts__icon(src="img/icon-mail.png", alt="")
				a.contacts__val.contacts__val--mail(href="mailto:tavel@gmail.com") tavel@gmail.com
