footer.footer 
	.container
		.footer__box
			.footer__logo 
				img(src="img/footer-logo.png", alt="/")
				span Пищевой продукт #[br] для энтерального питания
			.footer__links 
				a(href="#") Пользавательское соглашение
				a(href="#") Политика конфиденциальности
			.dev 
				span.dev__text Создание сайта
				a.dev__logo(href="https://scrum360.ru/")
					img(src="img/scrum-logo.png", alt="/")
