.footer{
	margin-top: auto;
	padding: 28px 0;
	background: var(--darkGreen);
	&__box{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media(max-width: 992px){
			flex-direction: column;
		}
	}
	&__logo{
		display: flex;
		align-items: center;
		@media(max-width: 992px){
			margin-bottom: 40px;
		}
		img{
			margin-right: 13px;
		}
		span{
			font-size: 10px;
			font-weight: 300;
			line-height: 12px;
			color: #FFF;
			@media(max-width: 992px){
				display: none;
			}
		}
	}
	&__links{
		display: flex;
		align-items: center;
		@media(max-width: 992px){
			flex-direction: column;
			margin-bottom: 20px;
		}
		a{
			margin: 0 14px;
			font-size: 10px;
			line-height: 14px;
			text-decoration: underline;
			color: #FFF;
			&:hover{
				text-decoration: none;
			}
			@media(max-width: 992px){
				margin: 0 0 20px 0; 
			}
		}
	}
}

.dev{
	display: flex;
	align-items: center;
	&__text{
		font-size: 12px;
		line-height: 16px;
		color: #FFF;
	}
	&__logo{
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
		color: #FFF;
		text-transform: uppercase;
		margin-left: 10px;
		img{
		}
	}
}