<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Tacel | О компании
	body

		include ./../mixins/_breadcrumbs.pug

		include ./../sections/_header.pug

		+breadcrumbs('О компании')

		main.page.about 
			.container 
				.about__box
					img.about__img(src="img/about-img.webp", alt="/")
					h1.title О компании
					.about__text
						p Иногда в период лечения и выздоровления дети с онкологическими заболеваниями не могут получать необходимые им калории и питательные вещества перорально. Питание через зонд, или энтеральное питание, обеспечивает питание в виде жидкости или смеси, подаваемой через трубку, которую вставляют в желудок или кишечник. По такой трубке (зонду) могут также подаваться некоторые лекарства.
						p Чаще всего используются назогастральные зонды и гастростомические трубки. Но есть несколько типов зондов для энтерального питания, которые различаются по методу введения и расположению в пищеварительном тракте.
						p Иногда пациент просто не в состоянии съесть достаточное количество калорий или белка. В этом нет ничьей вины. Важно помочь ребенку понять, что нутритивная поддержка не наказание. Большинство детей быстро привыкают к зонду для энтерального питания. Важно, чтобы ребенок не трогал и не тянул трубку. Соблюдайте инструкции по уходу за кожей в месте ввода зонда во избежание раздражения или инфекции.
					button.button.button-green.about__button Купить смесь

		include ./../sections/_contacts.pug

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug