 <!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Tacel | Статья
	body

		include ./../sections/_header.pug

		nav.breadcrumbs 
			.container
				ul.breadcrumbs__list 
					li.breadcrumbs__item 
						a.breadcrumbs__link(href="index.html") Главная
					li.breadcrumbs__item
						a.breadcrumbs__link(href="blog.html") Полезные статьи
					li.breadcrumbs__item Преимущества энтерального питания
					
		main.page.article 
			.container
				h1.title.article__title Преимущества энтерального питания

				.article__box 
					.article__text 
						p Многочисленные исследования показывают, что питание лиц старшей возрастной группы характеризуется выраженной степенью дисбаланса нутриентов в рационе, дефицитом белка, витаминов, макро- и микроэлементов, пищевых волокон. Все это может послужить причиной развития и усугубления тяжести сердечно- сосудистых, эндокринных, онкологических заболеваний , а также болезней крови, кроветворных органов и желудочно-кишечного тракта.
						p Сокращение количества белка приводит к атрофии, уменьшению мышечной массы (саркопении) и потери силы, что приводит к ухудшению качества жизни, инвалидизации.
						p Необходимо следить за количеством белка в рационе – адекватный уровень смешанного белка (животного и растительного) для этой возрастной группы должен составлять 30 г на 1 000 ккал суточного рациона, квота протеина животного происхождения должна быть не менее 55%.3
						p Чтобы предупредить преждевременное старение и не допустить недостаточность питания и его последствия, необходимы сбалансированное питание и физические нагрузки. Исследования показывают, что эти меры помогают улучшить когнитиные функции.
						p Когда обеспечить поступление всех необходимых микроэлементов с пищей невозможно, то решением становится специализированная нутритивная поддержка. Перед применением проконсультируйтесь со специалистом.
						p Ученые, изучающие старение, давно озабочены поиском методов его задержки. Это довольно серьезная проблема, так как, согласно отчету ООН, каждый шестой человек, или 16% населения(426 млн), к 2050 году будет старше 65 лет. Для сравнения: в 2019 году эта возрастная группа составляла 9%, то есть старше 65 был каждый 11-й
					img.article__img(src="img/article-img.webp", alt="/")

				.article__nav 
					a.article__prev(href="") Предыдущая новость
					a.article__next(href="") Следующая новость

		include ./../sections/_contacts.pug

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug