<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Tacel | Модальные окна
	body

		include ./../sections/_header.pug

		include ./../mixins/_breadcrumbs.pug
		+breadcrumbs('Модальные окна')

		main.page 
			.container 
				button.button.button-green(data-src="#modal-order" data-fancybox="modal-order") Форма заказа

				br
				br

				button.button.button-green(data-src="#modal-thanks" data-fancybox="modal-thanks") Спасибо


		
		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug