<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Tacel | Где купить
	body

		include ./../mixins/_breadcrumbs.pug

		include ./../sections/_header.pug

		+breadcrumbs('Где купить')

		main.page.shops 
			.container
				h1.title Где купить
				p Смеси для энтерального питания можно приобрести в во всех крупных маркетплейсах и интернет магазинах. Если вы не нашли удобный для вас магазин или аптеку - напишите нам в службу поддержки, мы поможем найти продукт в вашем городе.
				.shops__box 
					.adress 
						each item, i in ['м. Фрунзенская, ул. Погодинская, д.1/1, <br> тел. 8(499) 248 7181 – аптека в фойе клиники ', 'м. Беговая, ул. Беговая, д.11, тел. 8(495) 613 7543 – <br> магазин «Продукты 24»', 'м. Динамо, Ленинградский проспект, д. 33/4, <br> тел. 8(495) 945 9675 - магазин «Продукты 24» ', 'м. Беговая, Хорошевское шоссе, д. 34, <br>  тел. 8(495) 941 5878 - магазин «Продукты 24»', 'м. Менделеевская, ул. Новослободская, дом 49/2, <br> тел. 8(499) 7912146 – аптека на первом этаже ', 'м. Измайловская, ул. Первомайская, д.42, к.3, <br> тел. 8(495) 2520802 - аптека в маг. Пятерочка', 'м. Каширская, Каширское шоссе, д.23, <br> тел. 8(495) 9430470 - аптека в фойе', 'НМИЦ онкологии им. Н.Н. Блохина']
							.adress__item.js-adress(data-adress=`adress-${i+1}`) !{item}
					.coordinates
						.coordinates__map#adress-1

		include ./../sections/_contacts.pug


		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug